:root {
    --colour-primary: #002e2a;
    --colour-secondary: #e6b412;
    --colour-tertiary: #999;
}

.bg-primary {
    background-color: var(--colour-primary);
}

.bg-secondary {
    background-color: var(--colour-secondary);
}

.text-error {
    color: #f00;
}
.text-success {
    color: #0f0;
}

.text-warning {
    color: #fc0;
}

.text-muted {
    color: var(--colour-tertiary)
}

.text-info {
    color: rgb(24, 80, 247);
}

.text-primary {
    color: var(--colour-primary) !important;
}

.text-secondary {
    color: var(--colour-secondary);
}

.text-black {
    color: #000;
}

.text-white {
    color: #fff;
}

.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #000;
}   
.border-primary {
    border-color: var(--colour-primary);
}

.border-secondary {
    border-color: var(--colour-secondary);
}

